#add_employee label{
    color: '#000';
    font-size:'14px';
    font-weight:'700';
}
#add_employee input,select{
    border:1px solid #ced4da;
    color: '#000';
    font-size:'14px';
    font-weight:'500';
}